@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(37.5deg, #aa62de, #51b3e1);


}

.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 5em 3em;
    position: relative;
    display: grid;
    align-content: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.content::before{
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
    border: 3px solid white;
    transform: translateZ(2rem);
    
}

.content::after{
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background-color: rgba(229, 229, 229, 0.25);
    transform: translateZ(-2rem);
}

.title {
    position: relative;
    z-index: 10;
    font-size: 2.5rem;
    transform: translateZ(6rem);
}


.subtitle {
    position: relative;
    z-index: 10;
    letter-spacing: 4px;
    font-size: 0.75rem;
    transform: translateZ(8rem);
}

.content:hover{
    transform: rotateY(32deg) rotateX(32deg);
}

