* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  padding: 150px 75px;
  background: #ebeef3;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: black;
}

#maquina {
  color: #0072ef;
  font-weight: bold;
}

#cursor {
  color: #0072ef;
  animation: parpadeo 1s linear infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
